# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log
crash.*.log

# Ignore VS Code settings
.vscode/

# Ignore Azure deployment files
*.deployment

# Ignore environment variables
.env

# Python specific files
__pycache__/
.venv/

# Mac specific files
.DS_Store

# Terraform generated scripts
terraform/load_test_variables.env
terraform/load_test_variables.sh
